
body {
    
	font-family: "open sans", "arvo";
}

.form-inline {
    

}

#footer {

	background-color: #73305B;
	color: #F8F8FB;
	padding-top: 3em;
	padding-bottom:  3em;
	text-align: center;
	
}

#footer a {


color: #F8F8FB;
text-decoration: none;
font-size: 25px;
padding: 8px;



}



#footer a:hover {

	color: #aaaaaa ;
	opacity: 0,10;
}

#wrapper {

	background-image: url("../images/background image.jpg");
	height: 800px;
	background-size: cover;
	text-align: center;
	padding-top: 150px;
	color: white;
	text-shadow: 2px, 2px, 5px, rgba(0,0,0, 0,5);

}

#wrapper h1 {

	margin-bottom: 1em;
}



.feature p {

	font-weight: 300px;
	letter-spacing: 1px;
}


.feature i  {


	font-size: 35px;
	background-color: ;
	padding: 10px;
	

}




.teaser {

padding-top: 3em;
padding-bottom: 3em;
text-align: center;
background-color: #F8F8FB;


}



#logo {

	width: 200px;
}

